<div class="my-4 text-center">
  <img
    class="rounded-circle img-wrapper"
    src="assets/moi.png"
    alt="Photographie de RENARD Lucie"
  />
</div>
<div class="text-center">
  <h3 class="m-0 mb-1">RENARD Lucie</h3>
  <small class="pb-2 text-primary"
    >Étudiante en 3ème année de BUT Informatique à Lyon 1</small
  >
</div>
<div class="col d-flex justify-content-center gap-2 my-3 flex-wrap">
  <a
    href="https://github.com/Lucie05FR"
    target="_blank"
    class="btn btn-sm btn-secondary rounded-5 d-flex align-items-center gap-2"
  >
    <i class="bi bi-github fs-5"></i>

    Mon GitHub
  </a>
  <a
    href="https://www.linkedin.com/in/lucie-renard-43ba72253/"
    target="_blank"
    class="btn btn-sm btn-secondary rounded-5 d-flex align-items-center gap-2"
  >
    <i class="bi bi-linkedin fs-5 ps-1"></i>
    Mon LinkedIn
  </a>
  <a
    href="mailto:lucierenardpro@gmail.com"
    target="_blank"
    class="btn btn-sm btn-secondary rounded-5 d-flex align-items-center gap-2"
  >
    <i class="bi bi-envelope-fill fs-5 ps-1"></i>
    {{ "lucierenardpro@gmail.com" }}
  </a>
</div>

<div class="d-flex align-items-center d-flex justify-content-center gap-2">
  <i class="bi bi-geo-alt-fill fs-5"></i>
  <p class="m-0">Auvergne-Rhône-Alpes</p>
</div>

<div class="row mt-4 p-4 rounded-5 bg-secondary gap-0 bg-opacity-75">
  <div class="col-12 col-md-7 order-2 order-md-2 mb-2 mb-md-0">
    <h4 class="text-center mb-3">Mes centres d'intérêts</h4>
    <div
      class="d-flex flex-wrap gap-2 align-items-center justify-content-center"
    >
      @for (element of this.centreInterets; track element) {
        <div
          class="rounded-4 align-items-center gap-3 p-3 bg-dark bg-opacity-75"
        >
          <div class="d-flex align-items-center gap-2">
            <i class="bi bi-{{ element.icon }}"></i>
            <p class="m-0">{{ element.title }}</p>
          </div>
          <small class="m-0 text-primary">{{ element.description }}</small>
        </div>
      }
    </div>
  </div>
  <div class="col-12 col-md-5 order-1 order-md-1 text-center">
    <h4 class="text-center mb-3">A propos de moi</h4>
    <small class="text-primary">
      Développeuse bientôt diplômée, je suis impatiente de mettre mes
      compétences au service de projets concrets. J'aime concevoir des
      interfaces soignées et fonctionnelles, et je cherche à continuer à
      progresser au contact d'une équipe passionnée
    </small>
    <h4 class="text-center mt-4 mb-3">Langues</h4>
    <div class="d-flex flex-column text-center gap-2 mb-4">
      <small class="text-primary">Français (langue native)</small>
      <small class="text-primary">Anglais (niveau scolaire)</small>
      <small class="text-primary">Allemand (niveau scolaire)</small>
    </div>
  </div>
</div>

<div class="mt-5">
  <h4 class="text-center mb-5">Mon parcours</h4>

  <div class="timeline">
    @for (item of timeline; track item.date) {
      <div
        class="timeline-item {{ item.project ? 'cursor-pointer' : '' }}"
        [class.right]="$odd"
        (click)="item.project ? goToProject(item.project) : ''"
      >
        <div class="timeline-dot bg-primary rounded-circle">
          <i class="bi bi-{{ item.icon }} fs-5 text-secondary"></i>
        </div>
        <div class="timeline-content rounded-4 p-3 bg-secondary bg-opacity-75">
          <p class="text-primary fst-italic m-0 d-flex justify-content-between">
            {{ item.date }}
            @if (item.externLink) {
              <a
                class="cursor-pointer"
                [href]="item.externLink"
                target="_blank"
              >
                <i class="bi bi-box-arrow-up-right text-primary"></i>
              </a>
            }
          </p>
          <h6 class="text-light mt-1 mb-1">{{ item.title }}</h6>
          <small class="text-primary">{{ item.description }}</small>
          @if (item.project) {
            <p class="text-dark gap-2 m-0 pt-2">
              <i class="bi bi-box-arrow-up-right text-dark me-2"></i>Voir le
              projet
            </p>
          }
        </div>
      </div>
    }
  </div>
</div>
