::ng-deep .card {
  position: relative;
  transition: all 0.3s ease !important;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bs-primary);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }

  &:hover {
    transform: scale(1.03);

    &::after {
      opacity: 0.15;
    }
  }
}
