.flex-wrap > .rounded-3:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.flex-wrap > .rounded-3 {
  transition: all 0.3s ease;
}

.flex-wrap .mb-5 {
  width: 50%;
}

.full-width {
  width: 100% !important;
}

@media (max-width: 768px) {
  .flex-wrap .mb-5 {
    width: 100% !important;
  }
}
