<div
  class="cursor-bubble"
  [class.clicked]="isClicked"
  [style.left.px]="bubbleX"
  [style.top.px]="bubbleY"
></div>

<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Renard Lucie</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Me contacter</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mes projets
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Developpement web</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Developpement mobile</a>
            </li>
            <li><a class="dropdown-item" href="#">Algorithmie</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="technologies">Compétences</a>
        </li>
      </ul>
      <span class="navbar-text"> Portfolio </span>
    </div>
  </div>
</nav>

<div class="body">
  <router-outlet />
</div>

<div class="card-footer text-center border-top p-3">
  {{ "CopyRight @2026" }}
</div>
