.body {
  margin: 30px 100px !important;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .body {
    margin: 30px 20px !important;
  }
}

::ng-deep .img-wrapper {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bs-primary);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.03);

    &::after {
      opacity: 0.15;
    }
  }
}

.navbar-brand:hover,
.nav-item:hover,
.nav-link:hover,
.navbar-text:hover,
i:hover {
  transform: scale(0.98);
  transition: all 0.3s ease;
  color: var(--bs-primary) !important;
}
.navbar-brand,
.nav-item,
.nav-link,
.navbar-text,
i {
  transition: all 0.3s ease;
}

// ----- background animation -----
#circle-medium, #circle-large, #circle-xlarge, #circle-xxlarge {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  position: absolute;
  z-index: -1;
  animation-delay: 0.3s;
  top: 50px;
  left: -300px;
  background: var(--bs-primary);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  opacity: 0.3;
}

#circle-large {
  top: -100px;
  left: -450px;
  width: 900px;
  height: 900px;
  opacity: 0.2;
}

#circle-xlarge {
  animation-delay: 0.9s;
  top: -250px;
  left: -600px;
  width: 1200px;
  height: 1200px;
  opacity: 0.1;
}

#circle-xxlarge {
  animation-delay: 1.2s;
  top: -400px;
  left: -750px;
  width: 1500px;
  height: 1500px;
  opacity: 0.05;
}

@-webkit-keyframes circle-small-scale {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
  }
}

@keyframes circle-small-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
