<div
  class="cursor-bubble"
  [class.clicked]="isClicked"
  [style.left.px]="bubbleX"
  [style.top.px]="bubbleY"
></div>

<div class="background-circles">
  <div id="circle-medium"></div>
  <div id="circle-large"></div>
  <div id="circle-xlarge"></div>
  <div id="circle-xxlarge"></div>
  <div id="circle-xxxlarge"></div>
</div>

<nav
  class="navbar navbar-expand-lg border-bottom navbar-dark bg-secondary sticky-top"
>
  <div class="container-fluid">
    <h5 class="navbar-brand p-0 m-0 px-2" [routerLink]="['/']">Renard Lucie</h5>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a

            class="nav-link dropdown-toggle"
            [class.text-primary]="isProjectsActive()"
            href="#"
            role="button"
            data-bs-toggle="dropdown"

          >
            Projets
          </a>
          <ul class="dropdown-menu rounded-4 p-0">
            @for (
              subject of this.projectService.getAvailableSubjects();
              track subject
            ) {
              <li>
                <a
                  class="dropdown-item rounded-4 small py-2"
                  [routerLink]="['/projects', subject]"
                  routerLinkActive="text-primary"
                  >{{ getTechno("subject", subject).title }}</a
                >
              </li>
            }
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/technologies"
            routerLinkActive="text-primary"
            >Compétences</a
          >
        </li>
      </ul>
      <span
        class="navbar-text pe-2"
        [routerLink]="['/aboutMe']"
        routerLinkActive="text-primary"
      >
        En savoir plus
      </span>
    </div>
  </div>
</nav>

<div class="body">
  <router-outlet />
</div>

<footer class="border-top border-dark p-4">
  <div class="row align-items-center">
    <div class="col text-start">
      <h6 class="text-primary m-0">Renard Lucie</h6>
      <small class="text-secondary">Étudiante en BUT Informatique</small>
    </div>

    <div class="col d-flex justify-content-center gap-3">
      <a
        href="https://github.com/Lucie05FR"
        target="_blank"
        class="text-decoration-none"
      >
        <i class="bi bi-github fs-5 text-primary"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/lucie-renard-43ba72253/"
        target="_blank"
        class="text-decoration-none"
      >
        <i class="bi bi-linkedin fs-5 text-primary"></i>
      </a>
      <a href="mailto:lucierenardpro@gmail.com">
        <i class="bi bi-envelope-fill fs-5 text-primary"></i>
      </a>
    </div>

    <div class="col text-end">
      <small class="text-secondary">© 2026 Renard Lucie</small>
    </div>
  </div>
</footer>
