::ng-deep img:hover,
::ng-deep .border:hover {
  transform: scale(1.02);
}

::ng-deep img,
::ng-deep .border {
  transition: all 0.3s ease;
}

button {
  margin-right: 8px;
}
button:last-child {
  margin-right: 0px;
}

::ng-deep .collaborator-badge {
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    border-color: var(--bs-info) !important;
    color: var(--bs-info);
  }
}