::ng-deep img:hover,
::ng-deep .border:hover {
  transform: scale(1.02);
  background-color: var(--color-secondary);
}

::ng-deep img,
::ng-deep .border {
  transition: all 0.3s ease;
}

button {
  margin-right: 8px;
}
button:last-child {
  margin-right: 0px;
}
.img-wrapper {
  cursor: zoom-in;
}
