<div class="container-fluid py-3">
  @if (project) {
    <div class="row">
      <div
        class="col-12"
        [class.col-lg-8]="project.pictures && project.pictures.length > 0"
      >
        <h3 class="text-center mb-3">{{ project.name }}</h3>

        <div class="d-flex justify-content-center flex-wrap gap-2">
          @for (subject of toArray(project.subject); track subject) {
            <button
              [routerLink]="['/projects', project.subject]"
              class="btn border btn-sm rounded-3 text-primary"
            >
              @if (getTechno("subject", subject).icon) {
                <i
                  class="bi bi-{{
                    getTechno('subject', subject).icon
                  }} text-primary pe-1"
                ></i>
              }
              {{ getTechno("subject", subject).title }}
            </button>
          }
        </div>

        <p class="fst-italic text-center small mb-4 mt-2">
          {{ project.productTime }}
        </p>

        <!-- DESCRIPTION -->
        @if (project.description) {
          <h5 class="text-primary">
            <i class="bi bi-pin-fill text-primary pe-2"></i> Description du
            projet
          </h5>
          <p>{{ project.description }}</p>
          @if (project.details) {
            <p>{{ project.details }}</p>
          }
        }

        <!-- TECHNOLOGIES -->
        @if (
          project.langage ||
          project.IDE ||
          project.framework ||
          project.software ||
          project.other
        ) {
          <h5 class="text-primary mt-5">
            <i class="bi bi-tools text-primary pe-2"></i> Technologies, outils
            utilisés
          </h5>
          <div class="d-flex flex-wrap gap-2">
            @for (section of sections; track section.category) {
              @if (project[section.category]) {
                {{ this.setTechnoIndex() }}
                <div class="p-3 rounded-4 bg-secondary">
                  <div class="d-flex align-items-center mb-2">
                    @if (section.icon) {
                      <i class="bi bi-{{ section.icon }} me-2"></i>
                    }
                    <p class="m-0">
                      {{ section.label
                      }}{{ isArray(project[section.category]) ? "s" : "" }}
                    </p>
                  </div>
                  <div class="d-flex flex-wrap gap-1">
                    @for (
                      key of toArray(project[section.category]);
                      track key
                    ) {
                      <button
                        type="button"
                        class="btn btn-sm rounded-3 {{
                          this.technoIndex % 2 === 0 ? 'border' : 'btn-dark'
                        }}"
                      >
                        @if (getTechno(section.category, key).icon) {
                          <i
                            class="bi bi-{{
                              getTechno(section.category, key).icon
                            }}"
                          ></i>
                        }
                        {{ getTechno(section.category, key).title }}
                      </button>
                    }
                  </div>
                </div>
              }
            }
          </div>
        }

        <!-- ACTEURS -->
        @if (project.madeFor || project.collaborators) {
          <h5 class="text-primary mt-5">
            <i class="bi bi-people-fill text-primary pe-2"></i> Acteurs du
            projet
          </h5>
          @if (project.madeFor) {
            <p class="mb-2">
              <span class="text-primary"
                >Réalisé
                {{
                  project.madeFor === "l'université Lyon 1"
                    ? "au cours de mes études à"
                    : "pour"
                }} </span
              >{{ project.madeFor }}
            </p>
          }
          @if (project.collaborators) {
            <div class="d-flex flex-wrap gap-2 mb-3 align-items-center">
              <p class="text-primary m-0">
                Collaborateur{{
                  isArray(project.collaborators) &&
                  project.collaborators.length > 1
                    ? "s"
                    : ""
                }}
                :
              </p>
              @for (
                collaborator of getCollaborators(project.collaborators);
                track collaborator
              ) {
                @if (collaborator.link && collaborator.linkedin) {
                  <div
                    class="border rounded-3 px-2 py-1 d-flex align-items-center gap-2"
                    data-bs-toggle="popover"
                    data-bs-trigger="click"
                    data-bs-html="true"
                    data-bs-placement="bottom"
                    [attr.data-bs-content]="getCollaboratorLinks(collaborator)"
                    style="cursor: pointer"
                  >
                    <i class="bi bi-person-fill"></i>
                    <span
                      >{{ collaborator.lastName | uppercase }}
                      {{ collaborator.firstName }}</span
                    >
                  </div>
                } @else {
                  <a
                    [href]="collaborator.linkedin || collaborator.link || '#'"
                    target="_blank"
                    class="text-decoration-none"
                  >
                    <div
                      class="border rounded-3 px-2 py-1 d-flex align-items-center gap-2"
                    >
                      <i class="bi bi-person-fill"></i>
                      <span
                        >{{ collaborator.lastName | uppercase }}
                        {{ collaborator.firstName }}</span
                      >
                    </div>
                  </a>
                }
              }
            </div>
          }
        }

        <!-- LIENS -->
        @if (project.link) {
          <h5 class="text-primary mt-5">
            <i class="bi bi-link-45deg text-primary pe-2"></i> Lien{{
              isArray(project.link) && project.link.length > 1 ? "s" : ""
            }}
            utile{{
              isArray(project.link) && project.link.length > 1 ? "s" : ""
            }}
          </h5>
          <div class="d-flex flex-wrap gap-2 mb-3">
            @for (link of toArray(project.link); track link) {
              <a [href]="link" target="_blank" class="text-decoration-none">
                <div
                  class="border rounded-3 px-3 py-2 d-flex align-items-center gap-2"
                >
                  <i class="bi bi-box-arrow-up-right text-primary"></i>
                  <span>{{ link }}</span>
                </div>
              </a>
            }
          </div>
        }
      </div>

      <!-- Images -->
      @if (project.pictures && project.pictures.length > 0) {
        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
          @for (picture of project.pictures; track picture) {
            <div class="img-wrapper rounded-4 m-2" (click)="openImage(picture)">
              <img
                class="w-100 rounded-4"
                style="height: fit-content; object-fit: cover"
                [src]="'assets/projects-images/' + picture.emplacement"
                [alt]="picture.description"
              />
            </div>
          }
        </div>
      }
    </div>

    <!-- Modal image -->
    <div class="modal fade" id="imageModal" tabindex="-1">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
          <div class="modal-body p-0 text-center position-relative">
            <button
              type="button"
              class="btn-close btn-close-white position-absolute top-0 end-0 m-2"
              data-bs-dismiss="modal"
              style="z-index: 10"
            ></button>
            <img
              [src]="selectedImage?.src"
              [alt]="selectedImage?.alt"
              style="max-width: 100%; max-height: 90vh; object-fit: contain"
              class="rounded-4"
              data-bs-dismiss="modal"
            />
          </div>
        </div>
      </div>
    </div>
  } @else {
    {{ redirectError() }}
  }
</div>
