<div class="container mt-5">
  <h3>{{ this.project.name }}</h3>
  <span class="badge text-bg-secondary">{{ this.project.madeFor }}</span>
</div>
<div class="card mb-3" style="max-width: 540px">
  @if (this.haveImages) {
    <div class="col-md-4">
      <img
        src="{{ this.project.images[0].emplacement }}"
        class="img-fluid rounded-start"
        alt="{{ this.project.images[0].description }}"
      />
    </div>
  }
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">{{ this.project.name }}</h5>
      <p class="card-text">{{ this.project.description }}</p>
      <p class="card-text">
        <span class="badge text-bg-secondary">{{ this.project.madeFor }}</span>
      </p>
    </div>
  </div>
</div>
