h5 {
  color: var(--bs-primary);
}

::ng-deep .card:hover {
  transform: scale(1.02);
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
}

::ng-deep .card {
  transition: all 0.3s ease;
}