<div class="container-fluid">
  <h3 class="text-center">Portfolio</h3>

  <h5 class="text-center text-info">Mes projets</h5>
  <div class="row row-cols-1 row-cols-md-2">
    @for (project of displayedProjects; track project) {
      <app-project-card [project]="project" class="p-1"></app-project-card>
    }
  </div>
  <div class="text-center mt-3">
    <button
      class="btn border"
      [routerLink]="['projects']"
      (click)="
        !showAll && projectService.projects.length > 4
          ? (showAll = true)
          : (showAll = false)
      "
    >
      <i class="bi bi-grid"></i>
      {{
        !showAll && projectService.projects.length > 4
          ? "Voir tous les projets (" + projectService.projects.length + ")"
          : "Voir moins de projets"
      }}
    </button>
  </div>
</div>
<div class="text-center mt-5">
  <a href="#" class="btn btn-link text-center text-info"
    >Revenir en haut de la page</a
  >
</div>
